/* Variables */
:root {
  --dark1: #203040;
  --dark2: #808080;
  --light1: white;
  --light2: #f0f0f0;
  --light3: #c0c0c0;
  --accent1: #ff8000;
  
}

/*GENERAL STYLING*/

html {
  font-size: 1rem;
  box-sizing:border-box;
}

body {
  font-family: 1.6rem Helvetica;
  height:100dvh;
  margin:0;
}

.grid-container {
  display:grid;
  grid-template-areas:
      "header"
      "main"
      "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height:100%;
}

/*Style links to remove color/underline*/
a {
  text-decoration: none;
}

a:hover {
  color:var(--accent1);
}

/*HEADER*/

.header {
  grid-area: header;
  display:flex;
  justify-content: space-between;
  align-items:center;
  
  padding:.5rem;
  
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1em;
  color: var(--light1);

  background-color: var(--dark1);
}

.header-links a {
  padding:1rem;
  
  color:var(--light1);
  text-decoration: none;
}

.header-links a:hover {
  color:var(--accent1);
}

/*MAIN CONTENT*/

.main {
  grid-area: main;
}

.products {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  flex: 0 1 26rem;
  list-style-type: none;

  padding:0;
  margin:1rem;
  height:50rem;

  border-bottom:.1rem var(--light3) solid;
}

.product {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  height:100%;
}

.product-name {
  font-size:2rem;
  font-weight:bold;
}

.product-brand {
  font-size:1.2rem;
  color:var(--dark2);
}

.product-price {
  font-size:2rem;
  font-weight:bold;
}

.product-image {
  max-width:26rem;
  max-height:26rem;
}

.product-rating {
  margin-bottom: 1rem;
}

/*FOOTER*/

.footer {
  grid-area:footer;
  display:flex;
  justify-content: center;
  align-items: center;

  color:var(--light1);

  background-color:var(--dark1);
}

/* SIDEBAR MENU*/
.brand a {
  color:var(--light1);
  font-size:3rem;
  font-weight:bold;
  text-decoration: none;
}

.brand button {
  font-size:3rem;
  padding:.5rem;
  background:none;
  border:none;
  color:var(--light1);
  cursor:pointer;
}

.sidebar {
  position:fixed;
  transform: translateX(-30rem);
  width:30rem;
  height:100%;

  background-color:var(--light2);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  position:absolute;
  padding:.5rem;
  padding-top:0;
  right:.5rem;
  top:1.5;
  width:3rem;
  height:3rem;
  
  font-size:2rem;
  
  border-radius: 50%;
  border:.1rem black solid;

  cursor:pointer;
}